<div class="modal-header">
	<h3 class="modal-title">{{'iAbout' | translate}}<a class="btn btn-success pull-right" href="/clever-management-website/#/">{{'iReturn' | translate}} </a></h3>

</div>
<div class="modal-body">
	<div class="content-container">
		<h3>{{'' | translate}}</h3>
		<p>
			{{'' | translate}}
		</p>
		<h3>{{'iAboutTecTitle' | translate}}</h3>
		<p class="about-content">
			<img src="/clever-management-website/img/technical-architecture.jpg" style="width: 350px;float: right;"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'iAboutTecDetail' | translate}}
		</p>
		<br />
		<br />
		<h3>{{'iAboutDevTitle' | translate}}</h3>
		<p class="about-content">
			<img src="/clever-management-website/img/development-approach.png" ng-style="{width: windowWidth/5}" style="width: 350px;float: left;"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'iAboutDevDetail' | translate}}
		</p>
	</div>
</div>