<div class="row" style="max-height: 100%;">
	<div class="col-xs-12 col-md-12 col-lg-12 hbox">
		<!-- left side navbar -->
		<nav ng-show="!isNavbarCollapsed" id="navbar" class="vbox">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title row">
							<input type="text" placeholder="{{'iFilter' | translate}}" class="form-control pull-left" style="width: 67%;margin-left: 15px;" ng-model="archetypeListFilter">
						</div>
					</div>
					<div class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
			</div>
			<!-- archetype list -->
			<div class="flexBox" ng-style="{height: windowHeight - 175}" style="overflow: auto;">
				<div class="list-group" ng-show="archetypeList.length > 0">
					<a href class="list-group-item" ng-click="selectOverview()" ng-class="{'active': selectedArchetypeId == 0}"><b>{{'iOverview' | translate}}</b></a>
					<span ng-show="archetypeList.length == 0"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
					<a href ng-show="archetypeList.length > 0" class="list-group-item" ng-repeat="archetype in archetypeList | filter:archetypeListFilter | orderBy:'name'" ng-click="selectArchetype(archetype)" ng-class="{'active': archetype.id == selectedArchetypeId}"><span ng-bind-html="archetype.name | highlight:archetypeListFilter | unsafe"></span></a>
				</div>
			</div>
		</nav>
		<!-- splitter -->
		<splitter is-adjust-enabled="!isNavbarCollapsed" style="max-height: 100%;">
			<i style="cursor: pointer" ng-click="expandNavbar()" ng-show="isNavbarCollapsed" tooltip-placement="right" tooltip="Expand" tooltip-popup-delay="500"><span class="glyphicon glyphicon-chevron-right" ></span></i>
			<i style="cursor: pointer" ng-click="collapseNavbar()" ng-show="!isNavbarCollapsed" tooltip-placement="right" tooltip="Collapse" tooltip-popup-delay="500"><span class="glyphicon glyphicon-chevron-left" ></span></i>
		</splitter>
		<!-- content display -->
		<div class="flexBox" ng-style="{height: windowHeight - 100}">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li ng-class="{'active': selectedArchetypeId == 0}">
					<a ng-click="selectOverview()" style="cursor: pointer;"><b>&nbsp;{{'iOverview' | translate}}&nbsp;</b></a>
				</li>
				<li ng-repeat="tab in tabs" ng-class="{'active': tab.id == selectedArchetypeId}">
					<a style="word-wrap: break-word;word-break: break-all;white-space: pre-wrap;" ng-click="selectTab(tab)" style="cursor: pointer;" tooltip-placement="bottom" tooltip-popup-delay='500' tooltip='{{tab.title}}'> <span style="cursor: pointer;" context-menu data-target="{{'contextMenu-'+$index}}"> {{getTabTitle(tab)}}</span>&nbsp;<span class="close" ng-click="closeTab(tab)"> &times; </span> </a>
					<div class="dropdown" id="{{'contextMenu-'+$index}}" style="position: fixed;z-index: 100;">
						<ul class="dropdown-menu" role="menu">
							<li>
								<a class="pointer ng-binding" role="menuitem" tabindex="1" ng-click="closeTab(tab)" href>Close</a>
							</li>
							<li>
								<a class="pointer ng-binding" role="menuitem" tabindex="2" ng-click="closeOtherTabs(tab)" href>Close others</a>
							</li>
							<li>
								<a class="pointer ng-binding" role="menuitem" tabindex="3" ng-click="closeAllTabs()" href>Close all</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane" ng-class="{'active': selectedArchetypeId == 0}">
					<span ng-show="archetypeList.length == 0"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
					<div overview ng-show="archetypeList.length > 0" window-height="windowHeight" archetypes-brief-info="archetypesBriefInfo" select-archetype="selectArchetype(selectedArchetype)" add-alert="addAlert(alert)"></div>
				</div>
				<div class="tab-pane" ng-class="{'active': tab.id == selectedArchetypeId}" ng-repeat="tab in tabs" ng-controller="archetypeDisplayCtrl" ng-init="init(tab)">
					<div class="container content-container">
						<div class="row">
							<div class="col-xs-8 col-md-8 col-lg-8">
								<h3>{{title}}</h3>
							</div>
							<div class="col-xs-4 col-md-4 col-lg-4">
								<div class="input-group pull-right" style="padding: 5px;width: 260px;margin-top: 5px;">
									<span class="input-group-addon" style="width: 100px;">{{'iLanguage' | translate}}:</span>
									<div class="btn-group" dropdown is-open="isDropdownOpened">
										<button type="button" class="btn btn-default dropdown-toggle" style="width: 160px;">
											{{selectedLanguage.code}} <span class="glyphicon glyphicon-chevron-down pull-right" style="margin-top: 2px;"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li ng-repeat="language in languages">
												<a href class="text-center" ng-click="selectLanguage(language)">{{language.code}}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
						<li ng-class="{'active': selectedTab == 'Header'}">
							<a ng-click="selectTab('Header')" style="cursor: pointer;">Header</a>
						</li>
						<li ng-class="{'active': selectedTab == 'Definition'}">
							<a ng-click="selectTab('Definition')" style="cursor: pointer;">Definition</a>
						</li>
						<li ng-class="{'active': selectedTab == 'Terminology'}">
							<a ng-click="selectTab('Terminology')" style="cursor: pointer;">Terminology</a>
						</li>
						<li ng-class="{'active': selectedTab == 'Xml'}">
							<a ng-click="selectTab('Xml')" style="cursor: pointer;">XML</a>
						</li>
						<li ng-class="{'active': selectedTab == 'Adl'}">
							<a ng-click="selectTab('Adl')" style="cursor: pointer;">ADL</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<!-- Header -->
						<div class="tab-pane" ng-class="{'active': selectedTab == 'Header'}" ng-style="{height: windowHeight - 260}" style="overflow: auto;">
							<span ng-show="!xmlText"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
							<header-tab window-height="windowHeight" ng-show="xmlText" archetype-id="header.id" concept-code="header.concept" description="currentDescription" terminology="currentTerminology" style="margin-top: 5px;"></header-tab>
						</div>
						<!-- Definition -->
						<div class="tab-pane" ng-class="{'active': selectedTab == 'Definition'}" style="overflow: auto;">
							<span ng-show="!xmlText"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
							<definition-tab window-height="windowHeight" ng-show="xmlText" definition="definition" terminology="currentTerminology"></definition-tab>
						</div>
						<!-- Terminology -->
						<div class="tab-pane" ng-class="{'active': selectedTab == 'Terminology'}" style="overflow: auto;">
							<span ng-show="!xmlText"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
							<terminology-tab ng-style="{height: windowHeight - 260}" ng-show="xmlText" terminology="currentTerminology" style="margin-top: 5px;"></terminology-tab>
						</div>
						<!-- Xml -->
						<div class="tab-pane" ng-class="{'active': selectedTab == 'Xml'}">
							<span ng-show="!xmlText"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
							<pre ng-show="xmlText" ng-bind-html-unsafe="text|pretty" ng-style="{height: windowHeight - 265}" style="overflow: auto;margin-top: 5px;">{{xmlText}}</pre>
							<a class="pull-right" href="{{xmlDownloadUrl}}">Download XML</a>
						</div>
						<!-- Adl -->
						<div class="tab-pane" ng-class="{'active': selectedTab == 'Adl'}">
							<span ng-show="!adlText"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> {{'iLoading' | translate}}</span>
							<pre ng-show="adlText" ng-bind-html-unsafe="text|pretty" ng-style="{height: windowHeight - 265}" style="overflow: auto;margin-top: 5px;">{{adlText}}</pre>
							<a class="pull-right" href="{{adlDownloadUrl}}">Download ADL</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>