<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<img src="/clever-management-website/img/concept.jpg" style="width: 100%;" usemap="conceptMap"/>
		<map name="conceptMap" id="conceptMap">
			<area
			shape="rect"
			coords="510,100,700,180"
			href ="/clever-management-website/classification/id/3/type/"
			target ="observation"
			alt="Observation" />
			<area
			shape="rect"
			coords="265,385,480,540"
			href ="/clever-management-website/classification/id/3/type/"
			target ="evaluation"
			alt="Evaluation" />
			<area
			shape="rect"
			coords="520,560,695,640"
			href ="/clever-management-website/classification/id/3/type/"
			target ="instruction"
			alt="Instruction" />
			<area
			shape="rect"
			coords="905,285,1020,370"
			href ="/clever-management-website/classification/id/3/type/"
			target ="instruction"
			alt="Instruction" />
		</map>
	</div>
</div>