<div class="modal-header">
	<h3 class="modal-title">{{'iDeployTitle' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="content-container">
		<div class="row">
			<div class="col-xs-5 col-md-5 col-lg-5">
				<h4 class="text-center">{{'iDeployLatestArchetypes' | translate}}</h5>
				<ul class="list-group" ng-style="{height: windowHeight - 300}" style="padding: 0% 1%;overflow: auto;">
					<li class="list-group-item" ng-repeat="id in latestVersionArchetypeIds | orderBy: deployed" ng-class="{true: 'list-group-item-success', false: 'list-group-item-warning'}[id.deployed]">
						<span style="word-wrap: break-word;word-break: break-all;white-space: pre-wrap;cursor: default;">{{id.name}}</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-2 col-md-2 col-lg-2" ng-style="{height: windowHeight - 260}">
				<button style="margin-left: 20%;margin-right: 20%;width: 60%;margin-top: 50%;min-width: 100px;" class="btn btn-success text-center" ng-disabled="buttonTitle == 'Deploying...'" ng-click="deploy()">
					{{buttonTitle | translate}}
				</button>
			</div>
			<div class="col-xs-5 col-md-5 col-lg-5">
				<h4 class="text-center">{{'iDeployDeployedArchetypes' | translate}}</h5>
				<ul class="list-group" ng-style="{height: windowHeight - 300}" style="padding: 0% 1%;overflow: auto;">
					<li class="list-group-item list-group-item-success" ng-repeat="id in deployedArchetypeIds">
						<span style="word-wrap: break-word;word-break: break-all;white-space: pre-wrap;cursor: default;">{{id}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer"></div>