<div class="row">
	<div class="col-sm-8 col-md-8 col-lg-8 vcenter">
		<img src="/clever-management-website/img/home-img.png" style="width: 100%;height: 100%;">
	</div><!--
 --><div class="col-sm-4 col-md-4 col-lg-4 vcenter" style="padding-left: 40px;">
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			C
		</div>
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			L&nbsp;&nbsp;-inical
		</div>
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			E&nbsp;&nbsp;-asy
		</div>
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			V&nbsp;&nbsp;-ariety
		</div>
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			E&nbsp;&nbsp;-xtensible
		</div>
		<div style="font-size: 3.5em;font-family: Times New Roman;font-weight: bold;margin: -10px 0;">
			R&nbsp;&nbsp;-epository
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-md-4 col-lg-4" style="min-width: 250px;">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<span class="glyphicon glyphicon-th" style="font-size: 8em;"></span>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span style="font-size: 1.5em;">Archetype View</span>
					</div>
					<p style="overflow: auto;">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>dfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf asdfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf as
					</p>
					<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/classification/id/1"
						role="button">Enter &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4" style="min-width: 250px;">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<span class="glyphicon glyphicon-shopping-cart" style="font-size: 8em;"></span>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span style="font-size: 1.5em;">App library</span>
					</div>
					<p style="overflow: auto;">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>dfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf asdfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf as
					</p>
					<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/appLibrary"
						role="button">Enter &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4" style="min-width: 250px;">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<span class="glyphicon glyphicon-cog" style="font-size: 8em;"></span>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span style="font-size: 1.5em;">Archetype Management</span>
					</div>
					<p style="overflow: auto;">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>dfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf asdfsaf fdsfsadf fdsafsda sdfas sadfasdfas fdsaf as
					</p>
					<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/management"
						role="button">Enter &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>