<br />
<br />
<br />
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 hbox center-box">
		<img src="/clever-management-website/img/logo.png" style="height: 220px;margin-bottom: -20px;"/>
		<div class="vbox">
			<div style="font-size: 70pt;font-weight: bold;">{{'iTitle' | translate}}</div>
			<span class="hbox">
				<span style="font-size: 30pt;">CLEVER&#0153;</span>
				<span style="font-size: 15pt;font-style: italic;">Clinical Easy Variety Extensible Repository</span>
			</span>
		</div>

		<!--<span style="font-size: 60pt;font-family: Times New Roman;font-weight: bold;">CLEVER</span>
		<SUP style="position: absolute;top: 35px;">TM</SUP>
		<span style="font-size: 60pt;font-family: Times New Roman;font-weight: bold;">&nbsp;&nbsp;CDR</span>-->
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
	<div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-info-sign item-icon" style="text-decoration: none;color: #333;" href="/clever-management-website/#/about"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title" translate="iAbout"></span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'iAboutBrief' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/about"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-th item-icon" style="text-decoration: none;color: #333;" href="/clever-management-website/#/concept"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title" translate="iArchetypeView"></span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'iArchetypeViewBrief' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/classification/id/1"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
					<!--<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/classification/id/1"
						role="button">Enter &raquo;</a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-cog item-icon" style="text-decoration: none;color: #333;" href="/clever-management-website/#/dataManager"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title" translate="iDataManager"></span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'iDataManagerBrief' | translate | unsafe}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/dataManager"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
					<!--<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/management"
						role="button">Enter &raquo;</a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-screenshot item-icon" style="text-decoration: none;color: #333;" href="shine://start"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title" translate="iShine"></span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'iShineBrief' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/management"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
					<!--<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/management"
						role="button">Enter &raquo;</a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths">
		<div class="thumbnail" style="border: 0;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<a class="glyphicon glyphicon-list-alt item-icon" style="text-decoration: none;color: #333;" href="/clever-management-website/#/appLibrary"></a>
				</div>
			</div>
			<div class="caption">
				<div class="row">
					<div class="text-center">
						<span class="item-title" translate="iAppLibrary"></span>
					</div>
					<p class="item-content" style="overflow: auto;">
						{{'iAppLibraryBrief' | translate}}
						<!--<a class="pull-right"
						href="/clever-management-website/#/appLibrary"
						role="button">{{'iEnter' | translate}}</a>-->
					</p>
					<!--<div class="pull-right" style="padding-right: 10px;">
						<a class="btn btn-default"
						href="/clever-management-website/#/appLibrary"
						role="button">Enter &raquo;</a>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</div>