<div class="modal-header">
	<h3 class="modal-title">
		<span class="btn-group">
			<a class="btn btn-default" href="/clever-management-website/#/upload">
				<span class="glyphicon glyphicon-cloud-upload"></span> {{'iManagementUpload' | translate}}
			</a>
			<a class="btn btn-default" ng-disabled="buttonTitle == 'iManagementDeploying'" ng-click="deploy()">
				<span class="glyphicon glyphicon-cloud-download"></span> {{'iManagementDeploy' | translate}}
			</a>
		</span>
		<a class="btn btn-success pull-right" href="/clever-management-website/#/">{{'iReturn' | translate}} </a>
	</h3>
</div>
<div class="modal-body">
	<div class="content-container">
		<div class="row">
			<div class="col-xs-6 col-md-6 col-lg-6">
				<h4 class="text-center">{{'iManagementAllArchetypes' | translate}}<span class="badge pull-right">{{allArchetypesCount}}</span></h4>
				<ul class="list-group" ng-style="{height: windowHeight - 300}" style="padding: 0% 1%;overflow: auto;">
					<li class="list-group-item" ng-repeat="id in latestVersionArchetypeIds | orderBy: deployed" ng-class="{true: 'list-group-item-success', false: 'list-group-item-warning'}[id.deployed]">
						<span style="word-wrap: break-word;word-break: break-all;white-space: pre-wrap;cursor: default;">{{id.name}}</span>
					</li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6">
				<h4 class="text-center">
					{{'iManagementDeployedArchetypes' | translate}}
					<span class="badge pull-right">{{deployedArchetypesCount}}</span>
				</h4>
				<ul class="list-group" ng-style="{height: windowHeight - 300}" style="padding: 0% 1%;overflow: auto;">
					<li class="list-group-item list-group-item-success" ng-repeat="id in deployedArchetypeIds">
						<span style="word-wrap: break-word;word-break: break-all;white-space: pre-wrap;cursor: default;">{{id}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer"></div>