<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<div class="content-container" ng-style="{height: windowHeight - 310}" style="overflow: auto;">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<button class="btn btn-success fileinput-button" ng-show="status == 'AddingFile'">
					<span class="glyphicon glyphicon-plus"></span> Add files...
					<input id="inputFiles" type="file" files-model multiple file-list="fileList">
				</button>
				<h4 ng-show="status == 'Validating'"><img src="/clever-management-website/img/loading.gif" style="max-height: 18px;"></img> Validating...</h4>
				<h4 ng-show="status == 'ValidationFailed'" style="color: red">Validation failed.</h4>
				<h4 ng-show="status == 'ValidationPast'" style="color: green">Validation past. Please press the upload button to upload.</h4>
				<h4 ng-show="status == 'Uploading'"><img src="/clever-management-website/img/loading.gif" style="max-height: 18px;"></img> Uploading...</h4>
				<h4 ng-show="status == 'UploadFailed'" style="color: red">Upload failed.</h4>
				<h4 ng-show="status == 'UploadSucceeded'" style="color: green">Upload succeeded.</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12" ng-style="{height: windowHeight - 370}" style="overflow: auto">
				<table role="presentation" class="table table-striped table-hover" ng-show="fileList.length">
					<tbody>
						<tr ng-repeat="file in fileList | orderBy:file.name" ng-class="{TOUPLOAD: '', VALID: 'success', EXISTED: 'info', CHANGED: 'warning', INVALID: 'danger', FAILED: 'danger'}[file.status]">
							<td style="vertical-align: middle;">
								<span ng-show="file.status=='TOUPLOAD'"><span class="glyphicon glyphicon-plus-sign"></span> To upload</span>
								<span ng-show="file.status=='VALID'"><span class="glyphicon glyphicon-ok-sign"></span> Valid</span>
								<span ng-show="file.status=='EXISTED'"><span class="glyphicon glyphicon-info-sign"></span> Existed</span>
								<span ng-show="file.status=='CHANGED'"><span class="glyphicon glyphicon-question-sign"></span> Changed</span>
								<span ng-show="file.status=='INVALID'"><span class="glyphicon glyphicon-minus-sign"></span> Invalid</span>
								<span ng-show="file.status=='FAILED'"><span class="glyphicon glyphicon-remove-sign"></span> Failed</span>
								<span ng-show="file.status=='UPLOADING'"><img src="/clever-management-website/img/loading.gif" style="max-height: 20px;"></img> Uploading</span>
							</td>
							<td style="vertical-align: middle;">{{file.name}}</td>
							<td style="vertical-align: middle;">{{file.size/1024 | number:0}}KB</td>
							<td style="vertical-align: middle;"><span ng-show="file.status == 'INVALID'" style="cursor: pointer;" popover-placement="bottom" popover="{{file.message}}"><span class="glyphicon glyphicon-exclamation-sign"></span> Details</span></td>
							<td style="vertical-align: middle;">
							<button ng-show="file.status== 'TOUPLOAD' || file.status == 'INVALID'" type="button" class="btn btn-warning" ng-click="deleteFile(file.name)">
								Delete
							</button>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button ng-show="status == 'AddingFile'" class="btn btn-primary btn-lg" ng-click="validateFiles()" ng-disabled="fileList.length == 0">
		Validate
	</button>
	<button ng-show="status == 'ValidationFailed'" class="btn btn-primary btn-lg" ng-click="validateFiles()" ng-disabled="fileList.length == 0">
		Retry
	</button>
	<button ng-show="status == 'ValidationPast'" class="btn btn-success btn-lg" ng-click="uploadFiles()" ng-disabled="fileList.length == 0">
		Upload
	</button>
	<button class="btn btn-warning btn-lg" ng-click="reset()">
		Reset
	</button>
</div>