.hbox {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-flex-direction: row;
}

.hbox.center-box {
	/* Firefox */
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari、Opera 以及 Chrome */
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
}

.vbox {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
}

.flexBox {
	position: relative;
	height: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
}

#navbar {
	background-color: whiteSmoke;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin: -1px;
}

.content-container {
	width: 100%;
	padding: 0 15px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

splitter {
	padding: 0px 5px;
}

.item-title {
	font-size: 1.8em;
}

.item-content {
	font-size: 1.2em;
	padding-top: 10px;
}

.about-content {
	font-size: 1.4em;
}

/* archetype life cycyle */
.lifecycle-draft {
	color: #00b8bf;
}

.lifecycle-teamreview {
	color: #ffa928;
}

.lifecycle-published {
	color: #d00050;
}

.lifecycle-deprecated {
	color: #c6c6c6;
}

/* form validation */
.ng-invalid:focus {
	border-color: red;
}

/* html2canvas */
.html2canvasreset {
	position: absolute !important;
	overflow: visible !important;
	width: auto !important;
	height: auto !important;
	max-height: auto !important;
}

/* high light */
.ui-match {
	background-color: yellow;
}

/* over view style */
table.title {
	border-color: black;
	border-collapse: collapse;
	cursor: move;
}
table.title th {
	font-size: 10pt;
	white-space: nowrap;
	background: lightgray;
	font-weight: bold;
}
.overview-person {
	background: LightBlue;
}
.overview-composition {
	background: LightGreen;
}
.overview-observation {
	background: LightSalmon;
}
.overview-action {
	background: LightPink;
}
.overview-instruction {
	background: MediumSeaGreen;
}
.overview-admin_entry {
	background: Khaki;
}