.hbox {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-flex-direction: row;
}

.vbox {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
}

.flexBox {
	position: relative;
	height: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
}

#navbar {
	background-color: whiteSmoke;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin: -1px;
}

.content-container {
	width: 100%;
	padding: 0 15px;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

splitter {
	padding: 0px 5px;
}

/* over view style */
table.title {
	border-color: black;
	border-collapse: collapse;
	cursor: move;
}
table.title th {
	font-size: 10pt;
	white-space: nowrap;
	background: lightgray;
	font-weight: bold;
}
table.erd {
	font-size: 10pt;
	border-color: black;
	border-collapse: collapse;
	overflow: auto;
	cursor: move;
	white-space: nowrap;
	background: #C3D9FF;
}
table.erd td {
	border-color: black;
}