@font-face{
	font-family: 'Glyphicons Halflings'';
	src:url(/clinical-pathway-compliance-monitor/resources/glyphicons-halflings-regular.eot);
	src:url(/clinical-pathway-compliance-monitor/resources/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
		url(/clinical-pathway-compliance-monitor/resources/glyphicons-halflings-regular.woff) format('woff'),
		url(/clinical-pathway-compliance-monitor/resources/glyphicons-halflings-regular.ttf) format('truetype'),
		url(/clinical-pathway-compliance-monitor/resources/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
