<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">
		&times;
	</button>
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<div class="content-container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="input-group">
					<span class="input-group-addon">Name: </span>
					<input type="text" class="form-control" placeholder="Name">
				</div>
				<br />
				<div class="input-group">
					<span class="input-group-addon">Description: </span>
					<textarea class="form-control" placeholder="Description" rows=10></textarea>
				</div>
				<br />
				<div class="input-group">
					<span class="input-group-addon">URL: </span>
					<input type="text" class="form-control" placeholder="URL">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="text-center">
							<img src="{{imgPath}}" style="width: 200px;height: 200px;">
						</div>
					</div>
				</div>
				<br />
				<span style="color: red;" ng-show="imgErrorMsg">{{imgErrorMsg}}</span>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="input-group">
							<input class="form-control" type="text" ng-model="file.path" disabled="true" style="cursor: default;"/>
							<span class="input-group-btn">
								<button class="btn btn-success fileinput-button" type="button">
									Choose a file...
									<input type="file" file-model file="file" on-change="previewImg(file)">
								</button> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">
		Confirm
	</button>
	<button class="btn btn-warning" ng-click="cancel()">
		Cancel
	</button>
</div>